@font-face {
    font-family: 'Helvetica-Normal';
    src: url('Helvetica-Normal/Helvetica-Normal.eot');
    src: url('Helvetica-Normal/Helvetica-Normal.eot?#iefix') format('embedded-opentype'),
        url('Helvetica-Normal/Helvetica-Normal.woff2') format('woff2'),
        url('Helvetica-Normal/Helvetica-Normal.woff') format('woff'),
        url('Helvetica-Normal/Helvetica-Normal.ttf') format('truetype'),
        url('Helvetica-Normal/Helvetica-Normal.svg#Helvetica-Normal') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

