.hm-contact-sec-wrp{
	position: relative;
	background: #4e5558;
	padding-top: 40px;
	padding-bottom: 80px;
}
.hm-contact-lft-img-cntlr{
	position: absolute;
	bottom: 0;
	left: 0;
	max-height: 383px;
}
.hm-contact-lft-img-cntlr img {
	max-height: 383px;
    height: 100%;
    width: auto;
}
.hm-contact-sec-cntlr{
	display: flex;
	flex-wrap: wrap;
}
.hm-contact-con-lft{
	width: 47%;
}
.hm-contact-con-rgt{
	width: 53%;
}
.hm-contact-con-rgt-inner{
	margin-left: 30px;
}
.hm-contact-con-lft-inr {
    padding-left: 79px;
    padding-right: 50px;
}
.contact-info-title{
	color: #fff;
	font-family: 'Archer-Semibold';
	padding-top: 20px;
	text-transform: uppercase;
}
.contact-info-row-1 .contact-info-title{
	margin-bottom: 22px;
}
.contact-info-row-1 a{
	margin-bottom: 25px;
}
.contact-info-row  span,
.contact-info-row a{
	display: inline-block;
	vertical-align: baseline;
	color: #fffeff;
	font-size: 24px;
	font-family: 'Helvetica-Light';
	text-decoration: none;
}
.contact-info-row-2 > span{
	display: block;
	color: #ffffff;
	margin-bottom: 10px;
}
.contact-info-row{
	padding: 0 22px;
	border-bottom: 3px solid #b1d6ce;
}
.contact-info-row:last-child{
	border-bottom: none;
}
.contact-info-row-3 span,
.contact-info-row-3 a{
	font-family: 'Helvetica-Bold';
}
.contact-info-row-3 a{
	padding-left: 10px;
}
.contact-info-row a:hover{
	color: #88cbbf;
}
.contact-info-row-3{
	padding-top: 22px;
}
.contact-info-row-2{
	padding-bottom: 7px;
}
.hm-contact-map-cntlr {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

/*hm-cnt-map-start*/
.hm-contact-google-map-wrp{
    position: relative;

}
.hm-contact-google-map iframe{
    height: 490px;
    width: 100%;
    vertical-align: bottom;
    border: 20px solid #787e80!important;
}
.hm-contact-google-parachute{
    position: absolute;
    left: -55px;
    bottom: 100px;
}
.hm-contact-parachute-icon {
    position: absolute;
    right: -130px;
    top: -300px;
}