.hm-bnr-section {
	padding: 50px 0 60px;
    min-height: 900px;
    background-position: left bottom!important;
}
.hm-bnr-cntnt{
	display: flex;
	padding-bottom: 0;
	flex-wrap:wrap;
    background-repeat: no-repeat;
    margin-left: -5px;
     background-size: auto 100%!important;
}
.hm-bnr-lft-cntnt {
    width: 60%;
}
.hm-bnr-des{
	padding: 85px 95px 85px 40px;
}
.hm-bnr-cntnt-title{
	color: #fff;
	font-weight: 500;
	font-family: 'Archer-Medium';
	font-style: normal;
	font-size: 42px;
	display: inline-block;
	text-shadow: 2px 2px 2px #52585a;
}
.hm-bnr-des p{
	color: #fff;
	font-style: normal;
	font-family: 'Helvetica-Normal';
	font-weight: 400;
}
.hm-bnr-contact-info{
	padding-top: 30px;
}
.hm-bnr-contact-info strong{
	font-size: 14px;
	font-weight: 700;
	font-style: normal;
	font-family: 'Helvetica-Bold';
	color: #ebe994;
	display: block;
}
.hm-bnr-tel a{
	font-size: 40px;
	line-height: 1;
	font-weight: 400;
	font-family: 'Helvetica-Bold';
	color: #fff;
	text-decoration: none;
	display: inline-block;
	text-shadow: 2px 2px 2px #52585a;
}
.hm-bnr-tel a:hover{
	opacity: .8;
}
.hm-bnr-rgt-cntnt{
	width: 40%;
}
.hm-bnr-rgt-logo{
	margin-top: 40px;
}
.hm-bnr-rgt-logo img{
	width: 350px;
}
.bnr-service-grd-cntlr-row{
	padding-top: 35px;
}
.service-grids-cntlr{
	
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 0 -9px;
}
.service-grd-col{
	padding: 0 9px;
	width: 20%;
}
.service-grd-item {
    border: 10px solid #ffffff40;
}
.service-grd-fea-img a{
	display: inline-block;
}
.service-grd-fea-img div{
	transition: all .5s;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	height: 180px;
}
.service-grd-fea-img img{
	display: none;
}
.service-grd-fea-img {
    position: relative;
    overflow: hidden;
}
.service-grd-item:hover .service-grd-fea-img div{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
}


@media(max-width: 1199px){
	.hm-bnr-des {
	    padding: 50px 20px 50px 40px;
	}
	.hm-bnr-des p{
		font-size: 17px;
	}
	.hm-bnr-contact-info {
	    padding-top: 20px;
	}
	.hm-bnr-lft-cntnt {
	    padding-right: 0;
	}
	.hm-bnr-tel a {
	    font-size: 36px;
	}
	.hm-bnr-contact-info strong{
		font-size: 13px;
	}
}
@media(max-width: 991px){
	.hm-bnr-des {
	    padding: 40px 20px 40px 30px;
	}
	.hm-bnr-des p {
	    font-size: 16px;
	}
	.hm-bnr-rgt-logo img {
	    width: 250px;
	}

	.hm-bnr-lft-cntnt{
		width: 56%;
	}
	.hm-bnr-rgt-cntnt {
	    width: 44%;
	}		

}
@media(max-width: 767px){
	.hm-bnr-tel a{
		font-size:33px;
	}
	.hm-bnr-contact-info strong{
		font-size:12px;
	}
	.hm-bnr-lft-cntnt {
		width: 100%;
		order: 2;
	}
	.hm-bnr-rgt-cntnt {
		width: 100%;
		order: 1;
		padding-bottom: 30px;
	}
	.hm-bnr-cntnt {
		justify-content: flex-start;
	}
	.bnr-service-grd-cntlr-row {
    	padding-top: 20px;
	}
	.hm-bnr-section {
    	padding: 30px 0 60px;
	}	
	.hm-bnr-rgt-logo {
    	margin-top: 0;
	}

}
@media(max-width: 639px){

}

@media(max-width: 575px){
	.service-grd-fea-img div {
	height: 155px;
	}
	.hm-bnr-des {
	padding: 25px 20px 30px 20px;
	}
	.hm-bnr-rgt-logo img {
		    width: 200px;
		}
	.bnr-service-grd-cntlr-row {
	padding-top: 0px;
	}
}
@media(max-width: 479px){}
@media(max-width: 379px){}
@media(max-width: 359px){}
@media(max-width: 320px){}