
@font-face {
    font-family: 'LatoRegular';
    src: url('LatoRegular/LatoRegular.eot');
    src: url('LatoRegular/LatoRegular.eot') format('embedded-opentype'),
         url('LatoRegular/LatoRegular.woff2') format('woff2'),
         url('LatoRegular/LatoRegular.woff') format('woff'),
         url('LatoRegular/LatoRegular.ttf') format('truetype'),
         url('LatoRegular/LatoRegular.svg#LatoRegular') format('svg');
    font-weight: normal;
}
@font-face {
    font-family: 'Helvetica-Normal';
    src: url('Helvetica-Normal/Helvetica-Normal.eot');
    src: url('Helvetica-Normal/Helvetica-Normal.eot?#iefix') format('embedded-opentype'),
        url('Helvetica-Normal/Helvetica-Normal.woff2') format('woff2'),
        url('Helvetica-Normal/Helvetica-Normal.woff') format('woff'),
        url('Helvetica-Normal/Helvetica-Normal.ttf') format('truetype'),
        url('Helvetica-Normal/Helvetica-Normal.svg#Helvetica-Normal') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica/Helvetica.eot');
    src: url('Helvetica/Helvetica.eot?#iefix') format('embedded-opentype'),
        url('Helvetica/Helvetica.woff2') format('woff2'),
        url('Helvetica/Helvetica.woff') format('woff'),
        url('Helvetica/Helvetica.ttf') format('truetype'),
        url('Helvetica/Helvetica.svg#Helvetica') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica-Light';
    src: url('Helvetica-Light/Helvetica-Light.eot');
    src: url('Helvetica-Light/Helvetica-Light.eot?#iefix') format('embedded-opentype'),
        url('Helvetica-Light/Helvetica-Light.woff2') format('woff2'),
        url('Helvetica-Light/Helvetica-Light.woff') format('woff'),
        url('Helvetica-Light/Helvetica-Light.ttf') format('truetype'),
        url('Helvetica-Light/Helvetica-Light.svg#Helvetica-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica-Bold';
    src: url('Helvetica-Bold/Helvetica-Bold.eot');
    src: url('Helvetica-Bold/Helvetica-Bold.eot?#iefix') format('embedded-opentype'),
        url('Helvetica-Bold/Helvetica-Bold.woff2') format('woff2'),
        url('Helvetica-Bold/Helvetica-Bold.woff') format('woff'),
        url('Helvetica-Bold/Helvetica-Bold.ttf') format('truetype'),
        url('Helvetica-Bold/Helvetica-Bold.svg#Helvetica-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archer-Semibold';
    src: url('Archer-Semibold/Archer-Semibold.eot');
    src: url('Archer-Semibold/Archer-Semibold.eot?#iefix') format('embedded-opentype'),
        url('Archer-Semibold/Archer-Semibold.woff2') format('woff2'),
        url('Archer-Semibold/Archer-Semibold.woff') format('woff'),
        url('Archer-Semibold/Archer-Semibold.ttf') format('truetype'),
        url('Archer-Semibold/Archer-Semibold.svg#Archer-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archer-Bold';
    src: url('Archer-Bold/Archer-Bold.eot');
    src: url('Archer-Bold/Archer-Bold.eot?#iefix') format('embedded-opentype'),
        url('Archer-Bold/Archer-Bold.woff2') format('woff2'),
        url('Archer-Bold/Archer-Bold.woff') format('woff'),
        url('Archer-Bold/Archer-Bold.ttf') format('truetype'),
        url('Archer-Bold/Archer-Bold.svg#Archer-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archer-Light';
    src: url('Archer-Light/Archer-Light.eot');
    src: url('Archer-Light/Archer-Light.eot?#iefix') format('embedded-opentype'),
        url('Archer-Light/Archer-Light.woff2') format('woff2'),
        url('Archer-Light/Archer-Light.woff') format('woff'),
        url('Archer-Light/Archer-Light.ttf') format('truetype'),
        url('Archer-Light/Archer-Light.svg#Archer-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Archer-Medium';
    src: url('Archer-Medium/Archer-Medium.eot');
    src: url('Archer-Medium/Archer-Medium.eot?#iefix') format('embedded-opentype'),
        url('Archer-Medium/Archer-Medium.woff2') format('woff2'),
        url('Archer-Medium/Archer-Medium.woff') format('woff'),
        url('Archer-Medium/Archer-Medium.ttf') format('truetype'),
        url('Archer-Medium/Archer-Medium.svg#Archer-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


